<a href="https://colab.research.google.com/github/MiltonGallardo/MiltonGallardo/blob/main/SalesPrediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Sales Prediction
#Milton Gallardo

In [40]:
import pandas as pd
filename = "/content/drive/MyDrive/ PTCienciaDeDatos/PandasParaManipulacioÃÅnDeDatos/sales_predictions.csv"
df = pd.read_csv(filename)
df.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
3           FDX07        19.20  ...      Grocery Store           732.3800
4           NCD19         8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]

In [41]:
#transformar a numpy
df.to_numpy()
df.values

array([['FDA15', 9.3, 'Low Fat', ..., 'Tier 1', 'Supermarket Type1',
        3735.138],
       ['DRC01', 5.92, 'Regular', ..., 'Tier 3', 'Supermarket Type2',
        443.4228],
       ['FDN15', 17.5, 'Low Fat', ..., 'Tier 1', 'Supermarket Type1',
        2097.27],
       ...,
       ['NCJ29', 10.6, 'Low Fat', ..., 'Tier 2', 'Supermarket Type1',
        1193.1136],
       ['FDN46', 7.21, 'Regular', ..., 'Tier 3', 'Supermarket Type2',
        1845.5976],
       ['DRG01', 14.8, 'Low Fat', ..., 'Tier 1', 'Supermarket Type1',
        765.67]], dtype=object)

In [31]:
#Datos a limpiar
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [32]:
#Datos faltante

df['Item_Weight'].isna().head()
y_missing = df['Item_Weight'].isna()
df.loc[y_missing,:]

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
7              FDP10          NaN  ...  Supermarket Type3          4022.7636
18             DRI11          NaN  ...  Supermarket Type3          2303.6680
21             FDW12          NaN  ...  Supermarket Type3          4064.0432
23             FDC37          NaN  ...      Grocery Store           214.3876
29             FDC14          NaN  ...      Grocery Store           125.8362
...              ...          ...  ...                ...                ...
8485           DRK37          NaN  ...  Supermarket Type3          6261.8490
8487           DRG13          NaN  ...  Supermarket Type3          4111.3150
8488           NCN14          NaN  ...  Supermarket Type3          2756.4120
8490           FDU44          NaN  ...      Grocery Store           487.3656
8504           NCN18          NaN  ...  Supermarket Type3          4138.6128

[1463 rows x 12 columns]

In [35]:
#suma datos faltantes
df['Item_Weight'].isna().sum()

1463

In [39]:
# Quitar valores falatantes
df.loc[0:,:].dropna(how='any')

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0              FDA15        9.300  ...  Supermarket Type1          3735.1380
1              DRC01        5.920  ...  Supermarket Type2           443.4228
2              FDN15       17.500  ...  Supermarket Type1          2097.2700
4              NCD19        8.930  ...  Supermarket Type1           994.7052
5              FDP36       10.395  ...  Supermarket Type2           556.6088
...              ...          ...  ...                ...                ...
8517           FDF53       20.750  ...  Supermarket Type1          3608.6360
8518           FDF22        6.865  ...  Supermarket Type1          2778.3834
8520           NCJ29       10.600  ...  Supermarket Type1          1193.1136
8521           FDN46        7.210  ...  Supermarket Type2          1845.5976
8522           DRG01       14.800  ...  Supermarket Type1           765.6700

[4650 rows x 12 columns]

In [43]:
#ingresando valores faltantes
df.loc[0:, 'Item_Weight']
df.loc[0:, 'Item_Weight']

0        9.300
1        5.920
2       17.500
3       19.200
4        8.930
         ...
8518     6.865
8519     8.380
8520    10.600
8521     7.210
8522    14.800
Name: Item_Weight, Length: 8523, dtype: float64